@use "../common-styles.scss" as *;

.container {
  position: relative;
}

.close-button {
  width: fit-content;
  align-self: flex-end;
}

.menu {
  position: absolute;
  right: -6px;
  top: -6px;
  width: 180px;
  padding: 6px;
  background-color: $bg-color;
  border: $border-default;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.selectable {
  user-select: all;
}
