@use "../common-styles.scss" as *;

.button {
  border: $border-default;
  transition: all 0.15s ease-out;
  user-select: none;

  &:hover {
    box-shadow: $glow-2;
    border: $border-strong;
  }

  &:active {
    box-shadow: $glow-3;
  }

  &.s {
    padding: 4px 8px;
  }

  &.m {
    padding: 8px 16px;
  }

  &.l {
    padding: 16px 32px;
  }
}

.enabled {
  cursor: pointer;
  pointer-events: all;
  box-shadow: $glow-1;
}

.disabled {
  cursor: default;
  pointer-events: none;
  border: $border-muted;
  color: rgba(255, 255, 255, 0.6);
}
