@use "../common-styles.scss" as *;

.button {
  border: $border-default;
  padding: 16px 28px;
  transition: all 0.15s ease-out;
  user-select: none;

  &:hover {
    box-shadow: $glow-2;
    border: $border-strong;
  }

  &:active {
    box-shadow: $glow-3;
  }
}

.enabled {
  cursor: pointer;
  pointer-events: all;
  box-shadow: $glow-1;
}

.disabled {
  cursor: default;
  pointer-events: none;
  border: $border-muted;
}
