@use "../common-styles.scss" as *;

.core-access-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  min-height: 0;

  .top {
    flex: 0 0 auto;
    border: $border-default;
    padding: 20px;
  }

  .two-column {
    flex: 1 1 auto;
    min-height: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .left-column {
      min-height: 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .right-column {
      flex: 1 1 0;
      min-height: 0;
      max-height: 100%;
      overflow: hidden;
      display: flex;
    }
  }
}
