@use "../common-styles.scss" as *;

.core-access-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;

  .top {
    border: $border-default;
    padding: 20px;
  }

  .two-column {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .left-column {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .right-column {
      overflow-y: auto;
    }
  }
}
