@use "../common-styles.scss" as *;

.core-access-screen {
  display: flex;
  flex-direction: column;
  gap: $section-gap;
}

.section {
  padding: $section-padding;
  border: $border-default;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-container {
  overflow: hidden;
}

.v-split {
  display: flex;
  flex-wrap: nowrap;
  gap: $section-gap;
}

.exploits {
  flex: 1;
  padding: $section-gap;
  border: $border-default;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
