@use "../common-styles.scss" as *;

.core-access-screen {
  padding: 20px;
  min-height: 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.scroll-container {
  overflow: hidden;
}



