@use "../../common-styles.scss" as *;

.password-input-block {
  padding: 12px;
  border: $border-default;

  .input-prefix {
    margin-right: 4px;
    font-size: larger;
  }

  input {
    max-width: 120px;
    background-color: $bg-color;
    color: $font-color;
    border: none;
    font-family: "Oxanium", sans-serif;
    outline: none;
    font-size: larger;
  }

  button {
    background-color: $bg-color;
    color: $font-color;
    border: none;
    font-family: "Oxanium", sans-serif;
    outline: none;
    font-size: larger;
    cursor: pointer;
    user-select: none;
  }
}
