@use "../common-styles.scss" as *;

.breach-progress-screen {
  display: flex;
  flex-direction: column;
  gap: $section-gap;
}

.section {
  padding: $section-padding;
  border: $border-default;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.can-grow {
  flex: 1;
}
