@use "../common-styles.scss" as *;

.breach-progress-screen {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.block {
  padding: 20px;
  border: $border-default;
}

.bot {
  display: flex;
  justify-content: center;
  align-items: center;
}
