@use "../../common-styles.scss" as *;

.password-feedback {
  flex: 1;
  padding: 12px;
  border: $border-default;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  overflow-y: auto;
  scrollbar-width: thin; // Firefox
  scrollbar-color: #ccc #000; // thumb / track
}

/* Chrome, Edge, Safari */
.password-feedback::-webkit-scrollbar {
  width: 8px;
}

.password-feedback::-webkit-scrollbar-track {
  background: #000;
}

.password-feedback::-webkit-scrollbar-thumb {
  background: #ccc;
}
