@use "../../common-styles.scss" as *;

.password-feedback {
  height: 100%;
  min-height: 0;
  padding: 12px;
  border: $border-default;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  gap: 12px;

  scrollbar-width: thin; // Firefox
  scrollbar-color: #ccc #000; // thumb / track
}

/* Chrome, Edge, Safari */
.password-feedback::-webkit-scrollbar {
  width: 8px;
}

.password-feedback::-webkit-scrollbar-track {
  background: #000;
}

.password-feedback::-webkit-scrollbar-thumb {
  background: #ccc;
}
