@use "../common-styles.scss" as *;

.screen-container {
  display: flex;
  flex-direction: column;
  gap: $section-gap;
}

.section {
  padding: $section-padding;
  border: $border-default;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exploit-area {
  flex: 0 0 50px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.letter-pool {
  flex: 1 1 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  gap: 4px;

  .pool-letter {
    padding: 2px 4px;
    border: $border-default;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.unused {
      opacity: 1;
    }

    &.in-use {
      opacity: 0.75;
    }

    &.used {
      opacity: 0.3;
    }

    &.purge-active {
      &:hover {
        color: red;
        border-color: red;
      }
    }
  }
}

.word-bar {
  display: flex;
  align-items: center;

  .input-prefix {
    margin-right: 4px;
    font-size: larger;
  }

  .word-input {
    flex: 1; // pushes submit button to the right edge
    font-size: large;
    display: flex;
    gap: 2px;
  }

  .submit-button {
    cursor: pointer;
  }

  .bar-letter {
    padding: 2px 4px;
    border: $border-default;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.word-bank {
  flex: 0 0 120px;
  min-height: 50px;
  border: $border-default;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  overflow-y: auto;
  scrollbar-width: thin; // Firefox
  scrollbar-color: #ccc #000; // thumb / track

  .word-tag {
    padding: 2px 4px;
    height: fit-content;
    display: flex;
    gap: 2px;
    border: $border-default;
    letter-spacing: 1px;

    .tag-clear {
      cursor: pointer;
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }
}

/* Chrome, Edge, Safari */
.password-feedback::-webkit-scrollbar {
  width: 8px;
}

.password-feedback::-webkit-scrollbar-track {
  background: #000;
}

.password-feedback::-webkit-scrollbar-thumb {
  background: #ccc;
}
