@use "../common-styles.scss" as *;

.screen-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-bar {
  height: 50px;
  border: $border-default;
}

.letter-pool {
  padding: 10px;
  border: $border-default;

  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.word-bar {
  padding: 10px;
  height: 50px;
  border: $border-default;

  display: flex;
  align-items: center;

  .input-prefix {
    margin-right: 4px;
    font-size: larger;
  }

  .word-input {
    flex: 1;
    font-size: large;
    display: flex;
    gap: 2px;
  }

  .submit-button {
    cursor: pointer;
  }
}

.pool-letter {
  padding: 2px 4px;
  border: $border-default;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  &.unused {
    opacity: 1;
  }

  &.in-use {
    opacity: 0.75;
  }

  &.used {
    opacity: 0.3;
  }
}

.bar-letter {
  padding: 2px 4px;
  border: $border-default;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.word-bank {
  flex: 1 1 auto;
  min-height: 50px;
  border: $border-default;
}
