.feedback-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.candidate {
  letter-spacing: 0.3rem;
}

.feedback-icons {
  display: flex;
  gap: 4px;
  padding-right: 4px;
}

.pos-match-icon {
  opacity: 1;
}

.char-match-icon {
  opacity: 0.8;
}

.miss-icon {
  opacity: 0.2;
}
