.app {
  width: 100vw;
  height: 100vh;
}

.dummy-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.dummy-section {
  flex: 1 1 auto;
  width: 60%;

  display: flex;
  align-items: center;
  justify-content: center;
}
