@use "../../common-styles.scss" as *;

.progress-tracker {
  padding: 20px;
  border: $border-default;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.layer-icon {
  width: 18px;
  height: 18px;
  border: $border-strong;
  border-radius: 50%;
  color: $font-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.filled {
  background-color: $font-color;
  color: $font-inverse-color;
}
